 body{
   margin: 0;
   padding: 0;
 }
 .logo img{
  width: 251px;
  margin: 14px;
  position: fixed;
  z-index: 1;
 }
 .vid-bg{
   position: absolute;
   object-fit: cover;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

 }
 .fix{
   clear: both;

   
 }
 header{
   height: 100vh;
 }
 /* .works .works-title{
   font-family: cursive;
   font-weight: bold;
   justify-content: center;
   display: flex;
   margin-top: 28px;
 } */
 .sub-title{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .works{
   position: initial;
   z-index: 45;
 }

 .works-videos{
  width: 500px;
 }
.row{
  margin-top: 26px;
}


@media only screen and (max-width: 1280px ) {
  .works-videos{
    width: 317px;
  }
  .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 800px ){
  .works-videos{
    width: 317px;
  }
  .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 768px ){
  .works-videos{
    width: 307px;
  }
  .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 700px ){
  .works-videos{
    width: 234px;
  }
  .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 660px ){
  .works-videos{
    width: 234px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 630px ){
  .works-videos{
    width: 224px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 600px ){
  .works-videos{
    width: 224px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 480px ){
  .works-videos{
    width: 211px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 430px ){
  .works-videos{
    width: 192px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 400px ){
  .works-videos{
    width: 175px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 380px ){
  .works-videos{
    width: 168px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 350px ){
  .works-videos{
    width: 155px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 330px ){
  .works-videos{
    width: 144px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 300px ){
  .works-videos{
    width: 130px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 280px ){
  .works-videos{
    width: 118px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 260px ){
  .works-videos{
    width: 110px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 240px ){
  .works-videos{
    width: 100px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 220px ){
  .works-videos{
    width: 91px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 200px ){
  .works-videos{
    width: 82px;
  }
   .logo img{
    width: 128px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
.bg-img{
  background: url('https://images.squarespace-cdn.com/content/v1/56f65cf85559866730c088c2/1541530435632-XO927BNZPFXG00TYK4ZZ/ezgif.com-video-to-gif.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  z-index: 5;
  position: initial;
}
.txt{
  height: 90vh;
  text-align: center;
  margin-top: 246px;
  color: #fff;
  font-family: din-condensed-web;


}
.txt h2{
  padding-top: 233px;
}
.gallery-images{
  width: 100%;
}
.button{
  margin: auto;
  width: 28%;
  padding: 10px;
 }
 





