 body{
   margin: 0;
   padding: 0;
 }
 .logo img{
  width: 251px;
  margin: 14px;
  position: fixed;
  z-index: 1;
 }
 .vid-bg{
   position: absolute;
   object-fit: cover;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

 }
 .fix{
   clear: both;

   
 }
 header{
   height: 100vh;
 }
 .works .works-title{
   font-family: cursive;
   font-weight: bold;
   justify-content: center;
   display: flex;
 }
 .works{
   position: initial;
   z-index: 45;
 }

 .works-videos{
  width: 500px;
 }


@media only screen and (max-width: 375px){

  .works-videos{
    width: 171px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 258px){

  .works-videos{
    width: 113px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 179px) and (max-width: 200) {

  .works-videos{
    width: 75px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 412px) {

  .works-videos{
    width: 182px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 360px) {

  .works-videos{
    width: 154px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 480px) {

  .works-videos{
    width: 216px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 800px) {

  .works-videos{
    width: 351px;
  }
}
@media only screen and (max-width: 428px) {

  .works-videos{
    width: 193px;
  }
  .logo img{
    width: 134px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 390px) {

  .works-videos{
    width: 171px;
  }
  .logo img{
    width: 136px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 393px) {

  .works-videos{
    width: 171px;
  }
  .logo img{
    width: 103px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 700px) {

  .works-videos{
    width: 245px;
  }
  .logo img{
    width: 136px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 600px) {

  .works-videos{
    width: 199px;
  }
  .logo img{
    width: 136px;
    margin: 14px;
    position: fixed;
    z-index: 1;
   }
}
@media only screen and (max-width: 300px) {
  .works-videos{
    width: 130px;
  }
}
.bg-img{
  background: url('https://images.squarespace-cdn.com/content/v1/56f65cf85559866730c088c2/1541530435632-XO927BNZPFXG00TYK4ZZ/ezgif.com-video-to-gif.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  z-index: 5;
  position: initial;
}
.txt{
  height: 90vh;
  text-align: center;
  margin-top: 246px;
  color: #fff;
  font-family: din-condensed-web;


}
.txt h2{
  padding-top: 233px;
}





