 body{
   margin: 0;
   padding: 0;
 }
 .logo img{
  width: 251px;
  margin: 14px;
  position: fixed;
  z-index: 1;
 }
 .vid-bg{
   position: absolute;
   object-fit: cover;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

 }
 .fix{
   clear: both;

   
 }
 header{
   height: 100vh;
 }
 .works .works-title{
   font-family: cursive;
   font-weight: bold;
   justify-content: center;
   display: flex;
 }
 .works{
   position: relative;
   z-index: 45;
 }

 .works-videos{
  width: 539px;
 }

@media only screen and (max-width: 810px){

  .works-videos{
    max-width: 350px;
  }
}
@media only screen and (max-width: 375px){

  .works-videos{
    max-width: 171px;
  }
}
@media only screen and (max-width: 258px){

  .works-videos{
    max-width: 113px;
  }
}
@media only screen and (max-width: 179px){

  .works-videos{
    max-width: 82px;
  }
}





